<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link href="/static/style/styles.css" rel="stylesheet" />
    <script src="/static/java/header.js" defer></script>
    <script src="/static/java/indexBody.js" defer></script>
</head>
<body>
    <header id="header"></header>
    <section class="flavor">
        <div class="flavor-column-topic bigger-column">
            <div class="larger-font">500 Internal Server Error</div>
        </div>
    </section>
</body>

</html>