body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.site-header {
    background-color: #620000;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 0;
}

.navigation {
    background-color: gold;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.nav-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.scroll-container {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh; /* Set height to full viewport height */
}

.flavor {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    max-width: 960px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.flavor-column {
    background-color: #800020; /* Burgundy */
    color: #fff;
    padding: 20px;
    margin: 10px;
    flex: 1;
    border-radius: 5px;
}

.bigger-column {
    flex: 2;
}

.smaller-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flavor-column h1, .flavor-column h3 {
    color: #ffd700; /* Yellow */
}

.flavor-column ul {
    list-style-type: none;
    padding: 0;
}

.flavor-column li {
    background-color: #333; /* Dark background for list items */
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.flavor-column li ul li {
    background-color: #444; /* Slightly lighter for nested items */
}
.search-bar {
    text-align: center;
    margin-top: 20px;
}

.search-bar input[type="text"] {
    padding: 8px 15px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-bar button[type="submit"] {
    padding: 8px 15px;
    border: 1px solid black;
    background-color: #800020;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
