.flavor {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    width: 80%;
    border: 2px solid black;
    margin: 5% auto;
    background-color: maroon;
    height:60%;
    color:#fff;
}

.flavor-row {
    padding: 10px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
}

.medium-row {
    flex: 4; 
}

.bigger-row {
    flex: 8; 
}

.smaller-row {
    flex: 1;
    text-align: center; 
}