@tailwind base;
@tailwind components;
@tailwind utilities;
.flavor {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    width: 80%;
    border: 2px solid black;
    margin: 20px auto;
    background-color: maroon;
    height:100;
    color:#fff;
}

.flavor-row {
    padding: 10px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
}

.bigger-row {
    flex: 4; 
}

.smaller-row {
    flex: 1;
    text-align: center; 
}
.header{
    background-color: maroon;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    width:99.7%;
    height:100;
    border:2px solid black;
}
.row {
    background-color:gold;
    overflow: hidden;
    height:85%;
    color:black;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box; 
    border:2px solid black;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.scroll-container {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh; /* Set height to full viewport height */
}
