body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.site-header {
    background-color: #620000;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 0;
}

.navigation {
    background-color: gold;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.scroll-container {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh; /* Set height to full viewport height */
}
.flavor {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    width: 80%;
    border: 2px solid black;
    margin: 20px auto;
    background-color: maroon;
    height:100;
}

.flavor-row {
    padding: 10px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 

}

.bigger-row {
    flex: 4;
    background-color: #333; /* Dark background for list items */
    color: #fff;
    padding: 10px;
    border-radius: 10px;
} 

.smaller-row {
    flex: 1;
    text-align: center; 
        color: #ffd700; /* Yellow */
}
#ArticleLink{
    font-size: 7px;
}
