.header{
    background-color: maroon;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    width:99.7%;
    height:100;
    border:2px solid black;
}
.row {
    background-color:gold;
    overflow: hidden;
    height:85%;
    color:black;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box; 
    border:2px solid black;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.scroll-container {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh; /* Set height to full viewport height */
}