<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Faculty</title>
    <link href="../static/style/styles.css" rel="stylesheet" />

</head>

<body>
    <header id="header"></header>
    <section id="search">
        <script>search(/html/Topic.html)</script>
    </section>
    <section class="flavor">
        <article class="flavor-column bigger-column">
            <section id="body"></section>
            <script src="/static/java/FacultyInfoSearch.js"></script>
            <script src="/static/java/search.js" defer></script>
            <script src="/static/java/facultyBody.js" defer></script>
        </article>
        <aside class="flavor-column smaller-column">
            <p>Picture of the Faculty (If acceptable by Faculty)</p>
        </aside>
    </section>
    <script src="/static/java/header.js" defer></script>

</body>

</html>