<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Faculty</title>
    <link href="../static/style/styles.css" rel="stylesheet"/>
    <script src="/static/java/FacultyInfoSearch.js"></script>
    <script src="/static/java/header.js" defer></script>
    <script src="/static/java/search.js" defer></script>
</head>
<body>
    <header id="header"></header>
        <section id="search">
            <script>search(/html/Topic.html)</script>
        </section>
        <section class="flavor">
            <article class="flavor-column bigger-column">
                <h1> <p id="Name"></p></h1>
                <ul>
                    <li>Office<ul>
                            <li><p id="Office"></p></li>
                        </ul>
                    </li>
                    <li>Email<ul>
                            <li><p id="Email"></p></li>
                        </ul>
                    </li>
                    <li>Department<ul>
                            <li><p id="Department"></p></li>
                        </ul>
                    </li>
                    <li>Citations<ul>
                        <ul id="ArticleList"></ul>
                        </ul>
                    </li>
                </ul>
            </article>
            <aside class="flavor-column smaller-column">
                <p>Picture of the Faculty (If acceptable by Faculty)</p>
            </aside>
        </section>
    </div>
</body>

</html>