<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Faculty List</title>
    <link href="../static/style/styles.css" rel="stylesheet"/>
    <script src="/static/java/FacultyListSearch.js"></script>
    <script src="/static/java/header.js" defer></script>
    <script src="/static/java/search.js" defer></script>
</head>
<body>
    <header id="header"></header>
    <section id="search"><script>search(/html/Topic.html)</script></section>
    <section class="flavor"><article class="flavor-column bigger-column" id="faculty_list"></article></section>
</body>
</html>