<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WebMock</title>
    <link href="../static/style/style.css" rel="stylesheet"/>
    <link href="../static/style/styles.css" rel="stylesheet"/>
</head>
<body>
    <div class="scroll-container">
        <div class="flavor-header">
            <header class="site-header">
                <h1>Salsibury Research</h1>
                <nav class="navigation">
                    <a href="/html/index.html" class="nav-link">Home</a>
                    <a href="/html/TopicAZ.html" class="nav-link">Topic A-Z</a>
                    <a href="/html/FacultyAZ.html" class="nav-link">Faculty Contact</a>
                    <a href="/html/ArticleAZ.html" class="nav-link">Articles A-Z</a>
                </nav>
            </header>
        </div>
        <section class="flavor">
            <article class="flavor-column-topic bigger-column">
                <ul>
                    <li><div class="larger-font">Needs</div><ul>
                        <li class="medium-font">Description of the problem at hand</li>
                        </ul>
                    </li>
                    <li><div class="larger-font">Mission Statement</div><ul>
                            <li class="medium-font">Description of our goal to solve the issue</li>
                        </ul>
                    </li>
                    <li><div class ="larger-font">The Team</div><ul>
                            <li class="medium-font">Photos of each team member</li>
                        </ul>
                    </li>                                       
                </ul>
            </article>
        </section>
</body>
</html>