<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Topic List</title>
    <link href="../static/style/styles.css" rel="stylesheet"/>
    <script src="/static/java/TopicSearch.js"></script>
</head>
<body>
    <header id="header"></header>
        <section>
            <div class="flavor-header" style="margin:auto;max-width:350px">
                <header class="site-header">
                    <form class="search" style="margin:auto;max-width:300px" action="/html/Topic.html" method="GET">
                        <input type="text" placeholder="Search..." name="name">
                        <button type="submit"><i class="fa fa-search"></i></button>
                      </form>
                </header>
                </div>
        </section>
        <section class="flavor">
            <article class="flavor-column bigger-column" id="topic_Info">
            </article>
        </section>
</body>
</html>