<!-- 
# Author: Jude Maggitti
# Last Modified: 3/31/24
# Summary: This is the basic template that the web pages will be based off.  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link href="/static/style/styles.css" rel="stylesheet" />
    <script src="/static/java/TopicSearch.js"></script>
    <script src="/static/pageBody/header.js" defer></script>
    <script src="/static/java/search.js"></script>
    <script src="/static/pageBody/TopicBody.js" defer></script>
    <script src="/static/pageBody/loadPage.js" defer></script>
</head>

<body>
    <nav id="nav"></nav>
    <section id="body"></section>

    
</body>

</html>