<!-- 
# Author: Jude Maggitti
# Last Modified: 3/17/24
# Summary: This shows the home page to the user.  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link href="/static/style/styles.css" rel="stylesheet" />
    <script src="/static/java/header.js" defer></script>
    <script src="/static/java/indexBody.js" defer></script>
</head>
<body>
    <header id="header"></header><!--showcases the header-->
    <section id="body"></section><!--shows the body of the home-->
</body>

</html>